.clearfix:after{
    content:'';display:table;clear:both;
}
.clearfix{
    *zoom:1;
}
body{
    width: 1280px;
    min-height:1266px;
    margin: 0 auto;
    font-family: "Microsoft YaHei";

}
header{
    position:relative;
    height: 56px;
    background-color: #2189bf;
}
.site-logo{
    margin-left: 50px;
    margin-top: 10px;
}
.search{
    position: absolute;
    left:810px;
    top:13px;
    width: 313px;
    height: 28px;
    background-color: #fff;
    border-radius: 14px;
    box-sizing: border-box;;
}
.search img{
    float: left;
    margin-left: 10px;
    margin-top: 6px;
}
.search input{
    float: right;
    margin-right: 15px;
    width: 270px;
    height: 28px;
    border:none;
    margin-top: 0;
    box-sizing: border-box;;

}
.search input:focus{
    border: none;

}
header a{
    position:absolute;
    top:22px;
    right: 93px;
    color: #fff;
    font: 12px/16px HeiTi;
    text-decoration: none;
    background: url(../image/task_1_09_3.png) no-repeat;
    padding-left: 20px;
    vertical-align: middle;
}


aside{
    width: 260px;
    height: 1210px;
    float: left;
    background-color: #2b2e3d;
    color:#6e8095;
    font:12px SimHei;
    
}
.user-info{
    height:150px;
}
.user-name{
    height:105px;
}

.user-follow div{
    float:left;
    height:30px;
    padding:0 32px;
}
.user-follow div span{
    font-size:16px;
}
.user-follow div:first-child{
    border-right:2px solid #6e8095;
    margin-left:32px;
}


aside dl{
    margin:0;
}
.first-menu, .second-menu, .third-menu{
    color:#6e8096;

}
.first-menu:hover, .second-menu:hover, .third-menu:hover{
    color:#ededef;
    background-color:#383d4e;
}
.first-menu{
    /*font:12px/48px SimHei;*/
    line-height:48px;

}

.second-menu{
    /*font:12px/25px SimHei;*/
    line-height:25px;

}
.third-menu{
    /*font:12px/24px SimHei;*/
    line-height:24px;

}







main>section{
    width:1020px;
    box-sizing:border-box;
    float: right;
    background-color: #ededec;
    padding:0 64px;
}
.my-form{
    height:85px;
    border:1px solid #ccc;
    background-color:#fff;
}
.my-form div{
    float:left;
    margin:20px;
}
.my-form div p{
    margin:5px;
}
.form-search{
    width: 51px;
    height: 26px;
    border:none;
    border-radius:3px;
    color:#fff;
    background-color:#388ac1;
}
.form-search:hover{
    background-color:#2c7fb6;

}



.count div{
    width: 201px;
    height: 71px;
    border:1px solid #d8d9db;
    float: left;
    margin-left: 29px;
    box-sizing:border-box;
    background-color:#fff;
    border-radius:3px;
}
.count div:nth-child(2){
    margin-left: 0;
    border-left:4px solid #43b29e;
}
.count div:nth-child(3){
    border-left:4px solid #388ac1;
}
.count div:nth-child(4){
    border-left:4px solid #cf4a36;
}
.count div:nth-child(5){
    border-left:4px solid #e2cd46;
}

.first-left, .first-right, .calendar, .ranking-list{
    float:left;
    height:356px;
    background-color:#fff;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:10px;
}
.main-content h3{
    background-color:#f4f5f6;
    border-bottom:1px solid #ccc;
    color:#aaa;
    font:12px/40px 'Microsoft YaHei';
    text-indent:1.5em;
}
.first-left{
    width:532px;
    float:left;

}
.first-right{
    width:351px;
    float:right;

}






/*日历*/
.calendar{
    width:351px;
    clear:left;
}
.calendar form{
    margin:10px auto;
}
.calendar #year{
    -webkit-appearance:none;
    width:62px;
}
.calendar #month{
    -webkit-appearance:none;
    text-align:center;

    width:82px;
    text-align:center;
}
.calendar #month option{
    text-align:center;
}
.calendar #date{
    width:74px;
}
.calendar #back-to-today{
    
    width:60px;
    background-color:#fff;

}
.calendar table{
    margin:10px auto;
}
.calendar tr:first-child{
    box-sizing:border-box;
    border-top:2px solid #a9cfec;
    border-bottom:2px solid #e1e1e2;

}
.calendar th{
    padding:0;
    width:40px;
    height:40px;
    font:12px/40px SimHei;
}
.calendar td{
    width:40px;
    height:30px;
    padding:5px 0;
}
.calendar td p{
    font:11px/15px SimHei;
    text-align:center;
}




/*右下部分*/
.ranking-list{
    width:532px;
    float:right;

}
.ranking-list table{
    margin:17px auto;
    font:12px SimHei;
}

.ranking-list th, .ranking-list td{
    height:24px;
    border:1px solid #cbcbcb;
    line-height:24px;
}
.ranking-list td:nth-child(1){
    width:66px;
    text-align:center;
}
.ranking-list td:nth-child(2){
    width:90px;
    text-align:center;
}
.ranking-list td:nth-child(3){
    width:290px;
    text-align:center;
}
.table-range{
    display:inline-block;
    width:168px;
    height:5px;
    background-color:#ddd;
    margin-left:17px;

}
.table-range div{
    height:5px;
}
.table-range-1{
    width:96%;
    background-color:#ec6e51;
}
.table-range-2{
    width:58%;
    background-color:#ef8150;
}
.table-range-3{
    width:46%;
    background-color:#f29f4f;
}
.table-range-4{
    width:45%;
    background-color:#7fcbf0;
}
.table-range-5{
    width:44%;
    background-color:#7fcbf0;

}
.table-range-6{
    width:43%;
    background-color:#7fcbf0;

}
.table-range-7{
    width:41%;
    background-color:#7fcbf0;

}
.table-range-8{
    width:39%;
    background-color:#7fcbf0;

}
.table-range-9{
    width:38%;
    background-color:#7fcbf0;

}
.table-range-10{
    width:37%;
    background-color:#7fcbf0;

}